html, body { height: 100%; width: 100%; padding: 0; margin: 0;}
body { display: flex; justify-content: center; align-items: center; }
body {
  background-color: black;
  overflow: hidden;
  perspective: 500px;
  transform-style: preserve-3d;
}
#box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
#box {
  transform:
    rotateX(360deg)
    scale(1, 1);
  animation: rotation 20s ease infinite;
}
#box > * { width: 600px; height: 600px; position: fixed; }
#box > * > * { width: 600px; height: 600px; }
#box > .top {  clip-path: polygon(calc(0% - .5px) calc(0% - .5px), calc(100% + .5px) calc(0% + .5px), 50% calc(50% + .5px), 50% calc(50% + .5px)); }
#box > .right {  clip-path: polygon( calc(100% + .5px) calc(0% - .5px), calc(100% + .5px) calc(100% + .5px), 50% 50%, 50% 50%); }
#box > .bottom {  clip-path: polygon( calc(0% - 1px) calc(100% + .5px), calc(100% + 1.2px) calc(100% + 1px), 50% calc(50% - .5px), 50% calc(50% - .5px)); }
#box > .left {  clip-path: polygon( calc(0% - .5px) calc(0% - 1px), calc(0% - .5px) calc(100% + .5px), 50% 50%, 50% 50%); }

#box > .top > * {
  background: repeating-linear-gradient(180deg, white 0px, white 20px, transparent 20px, transparent 40px);
  animation: gradientUpDown 1s linear infinite;
}
#box > .right > * {
  background: repeating-linear-gradient(-90deg, white 0px, white 20px, transparent 20px, transparent 40px);
  animation: gradientRightLeft 1s linear infinite;
}
#box > .bottom > * {
  background: repeating-linear-gradient(0deg, white 0px, white 20px, transparent 20px, transparent 40px);
  animation: gradientDownUp 1s linear infinite;
}
#box > .left > * {
  background: repeating-linear-gradient(90deg, white 0px, white 20px, transparent 20px, transparent 40px);
  animation: gradientLeftRight 1s linear infinite;
}


@keyframes gradientUpDown {
	from { transform: translateY(-20px); }
	to   { transform: translateY(20px); }
}
@keyframes gradientDownUp {
	from { transform: translateY(20px); }
	to   { transform: translateY(-20px); }
}
@keyframes gradientLeftRight {
	from { transform: translateX(-20px); }
	to   { transform: translateX(20px); }
}
@keyframes gradientRightLeft {
	from { transform: translateX(20px); }
	to   { transform: translateX(-20px); }
}
@keyframes rotation {
  0% { transform: rotateX(360deg) scale(1, 1); }
  25% { transform: rotateX(0deg) scale(.3, 1.8); }
  50% { transform: rotateX(360deg) scale(1, 1); }
  75% { transform: rotateX(0deg) scale(1.8, .3); }
  100% { transform: rotateX(360deg) scale(1, 1); }
}
